<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.business.atlas.mapper.AtlasMapper">
    
    <resultMap type="Atlas" id="AtlasResult">
        <result property="atlasId"    column="atlas_id"    />
        <result property="atlasTitle"    column="atlas_title"    />
        <result property="atlasType"    column="atlas_type"    />
        <result property="atlasLabel"    column="atlas_label"    />
        <result property="atlasImg"    column="atlas_img"    />
        <result property="atlasDescribe"    column="atlas_describe"    />
        <result property="atlasContent"    column="atlas_content"    />
        <result property="atlasLink"    column="atlas_link"    />
        <result property="atlasLinknotes"    column="atlas_linknotes"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="uuid"    column="uuid"    />
    </resultMap>

    <sql id="selectAtlasVo">
        select atlas_id, atlas_title, atlas_type, atlas_label, atlas_img, atlas_describe, atlas_content, atlas_link, atlas_linknotes, status, create_by, create_time, update_by, update_time, remark, uuid from bl_atlas
    </sql>

    <sql id="selectAtlasCut">
        select atlas_id, atlas_title, update_time from bl_atlas
    </sql>

    <select id="selectAtlasList" parameterType="Atlas" resultMap="AtlasResult">
        <include refid="selectAtlasVo"/>
        <where>  
            <if test="atlasTitle != null  and atlasTitle != ''"> and atlas_title = #{atlasTitle}</if>
            <if test="atlasType != null  and atlasType != ''"> and atlas_type = #{atlasType}</if>
            <if test="atlasLabel != null  and atlasLabel != ''"> and atlas_label = #{atlasLabel}</if>
            <if test="atlasImg != null  and atlasImg != ''"> and atlas_img = #{atlasImg}</if>
            <if test="atlasDescribe != null  and atlasDescribe != ''"> and atlas_describe = #{atlasDescribe}</if>
            <if test="atlasContent != null  and atlasContent != ''"> and atlas_content = #{atlasContent}</if>
            <if test="atlasLink != null  and atlasLink != ''"> and atlas_link = #{atlasLink}</if>
            <if test="atlasLinknotes != null  and atlasLinknotes != ''"> and atlas_linknotes = #{atlasLinknotes}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAtlasById" parameterType="Integer" resultMap="AtlasResult">
        <include refid="selectAtlasVo"/>
        where atlas_id = #{atlasId}
    </select>

    <insert id="insertAtlas" parameterType="Atlas" useGeneratedKeys="true" keyProperty="atlasId">
        insert into bl_atlas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="atlasTitle != null  and atlasTitle != ''">atlas_title,</if>
            <if test="atlasType != null  and atlasType != ''">atlas_type,</if>
            <if test="atlasLabel != null  and atlasLabel != ''">atlas_label,</if>
            <if test="atlasImg != null  and atlasImg != ''">atlas_img,</if>
            <if test="atlasDescribe != null  and atlasDescribe != ''">atlas_describe,</if>
            <if test="atlasContent != null  and atlasContent != ''">atlas_content,</if>
            <if test="atlasLink != null  and atlasLink != ''">atlas_link,</if>
            <if test="atlasLinknotes != null  and atlasLinknotes != ''">atlas_linknotes,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="uuid != null  and uuid != ''">uuid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="atlasTitle != null  and atlasTitle != ''">#{atlasTitle},</if>
            <if test="atlasType != null  and atlasType != ''">#{atlasType},</if>
            <if test="atlasLabel != null  and atlasLabel != ''">#{atlasLabel},</if>
            <if test="atlasImg != null  and atlasImg != ''">#{atlasImg},</if>
            <if test="atlasDescribe != null  and atlasDescribe != ''">#{atlasDescribe},</if>
            <if test="atlasContent != null  and atlasContent != ''">#{atlasContent},</if>
            <if test="atlasLink != null  and atlasLink != ''">#{atlasLink},</if>
            <if test="atlasLinknotes != null  and atlasLinknotes != ''">#{atlasLinknotes},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="uuid != null  and uuid != ''">#{uuid},</if>
         </trim>
    </insert>

    <update id="updateAtlas" parameterType="Atlas">
        update bl_atlas
        <trim prefix="SET" suffixOverrides=",">
            <if test="atlasTitle != null  and atlasTitle != ''">atlas_title = #{atlasTitle},</if>
            <if test="atlasType != null  and atlasType != ''">atlas_type = #{atlasType},</if>
            <if test="atlasLabel != null  and atlasLabel != ''">atlas_label = #{atlasLabel},</if>
            <if test="atlasImg != null  and atlasImg != ''">atlas_img = #{atlasImg},</if>
            <if test="atlasDescribe != null  and atlasDescribe != ''">atlas_describe = #{atlasDescribe},</if>
            <if test="atlasContent != null  and atlasContent != ''">atlas_content = #{atlasContent},</if>
            <if test="atlasLink != null  and atlasLink != ''">atlas_link = #{atlasLink},</if>
            <if test="atlasLinknotes != null  and atlasLinknotes != ''">atlas_linknotes = #{atlasLinknotes},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="uuid != null  and uuid != ''">uuid = #{uuid},</if>
        </trim>
        where atlas_id = #{atlasId}
    </update>

    <delete id="deleteAtlasById" parameterType="Integer">
        delete from bl_atlas where atlas_id = #{atlasId}
    </delete>

    <delete id="deleteAtlasByIds" parameterType="String">
        delete from bl_atlas where atlas_id in 
        <foreach item="atlasId" collection="array" open="(" separator="," close=")">
            #{atlasId}
        </foreach>
    </delete>

    <select id="selectAtlasListByNewest" parameterType="Integer" resultMap="AtlasResult">
        <include refid="selectAtlasCut"/>
        where 1=1 and status = '0' ORDER BY update_time DESC LIMIT 9
    </select>
</mapper>