<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('漫画列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            <p>漫画标题：</p>
                            <input type="text" name="cartoonTitle"/>
                        </li>
                        <li>
                            <p>漫画类型：</p>
                            <select name="cartoonType" th:with="type=${@dict.getType('')}">
                                <option value="">所有</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </li>
                        <li>
                            <p>漫画状态：</p>
                            <select name="status">
                                <option value="">所有</option>
                            </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.addFull()" shiro:hasPermission="business:cartoon:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.editFull()" shiro:hasPermission="business:cartoon:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="business:cartoon:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="business:cartoon:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('business:cartoon:edit')}]];
    var removeFlag = [[${@permission.hasPermi('business:cartoon:remove')}]];
    var types = [[${@dict.getType('sys_article_type')}]];
    var datas = [[${@dict.getType('sys_notice_status')}]];
    var prefix = ctx + "business/cartoon";

    $(function() {
        var options = {
            url: prefix + "/sysList",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "漫画",
            columns: [{
                checkbox: true
            },
                {
                    field : 'cartoonId',
                    title : '序号',
                    width : '2%',
                    align : 'center',
                    formatter: function (value, row, index) {
                        return index + 1;
                    }
                },
                {
                    field : 'cartoonTitle',
                    title : '漫画标题',
                    width : '20%',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value.length>20 ? value.substring(0,20)+"..." : value;
                    }
                },
                {
                    field: 'cartoonType',
                    title: '漫画类型',
                    align: 'center',
                    width : '5%',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(types, value);
                    }
                },
                {
                    field: 'cartoonImg',
                    title: '预览图片',
                    align: 'center',
                    width : '5%',
                    formatter: function (value, row, index) {
                        // 图片预览（注意：如存储在本地直接获取数据库路径，如有配置context-path需要使用ctx+路径）
                        // 如：/profile/upload/2019/08/08/3b7a839aced67397bac694d77611ce72.png
                        return $.table.imageView(value);
                    }
                },
                {
                    field : 'cartoonDescribe',
                    title : '漫画描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value.length>35 ? value.substring(0,35)+"..." : value;
                    }
                },
                {
                    field: 'status',
                    title: '状态',
                    align: 'center',
                    width : '2%',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    align: 'center',
                    width : '12%',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    width : '10%',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editFull(\'' + row.cartoonId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.cartoonId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>